@import url('http://fonts.cdnfonts.com/css/jsmath-cmbx10');
.titulo{
    font-size: 30px;
    font-weight: bold;
    color: black;
  }

.fondoNoticias{
    background-color: #F5F5F5;
}

.colorTituloNoticias{
    /*#704B4B*/
    /*color: #704B4B;*/
    font-family: 'jsMath-cmbx10', sans-serif;                                                
}
.color{
    /*background-color: rgb(221, 234, 238);*/
}